<%# best_quotes/app/views/quotes/quote.html.erb %>

<p>
  &quot;<%= quote_obj["quote"] %>&quot;
  <br/>
  &ndash;<%= quote_obj["attribution"] %>
</p>

<p>
  submitted by <%= quote_obj["submitter"] %>

</p>

